.landing-page {
    height: 100vh;
    background-color: black;
    transition: background-image 0.2s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.landing-page__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(155, 59, 4, 0.7);
}